<div class="col-lg-12">
    <h1 class="page-header">List Posts</h1>
    <div class="right search_form">
      <div class="form-group input-group">
        <form method="GET">
          <input type="text" style="width:200px" class="form-control" name="q" placeholder="filters" value="<%= params['q']%>" autofocus>
          <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
              </button>
          </span>
        </form>
      </div>
    </div>

    <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th>Content</th>
                      <th>Category</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <% @posts.each_with_index do |post, index|%>
                  <tr>
                      <td><%= index + 1%></td>
                      <td><%= post.title%></td>
                      <td><%= truncate(strip_tags(post.content), length: 255, omission: '... (continued)') %></td>
                      <td><%= post.try(:category).try(:name)%></td>
                      <td>
                        <%= link_to 'Edit', edit_admin_post_path(post)%> | 
                        <%= link_to 'Show', admin_post_path(post)%> | 
                        <%= link_to 'Delete', admin_post_path(post),  data: { confirm: 'Are you sure?' }, method: :delete%>
                      </td>
                  </tr>
                <% end unless @posts.blank?%>
              </tbody>
          </table>
          <%= paginate @posts %>
      </div>
      <!-- /.table-responsive -->
</div>
